#nav-icon3 {
    width: 29px;
    height: 20px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon3 span:first-child {
    top: 0;
    width: 50%;
  }
  
  #nav-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #1A202B;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  
  #nav-icon3 span:nth-child(2),
  #nav-icon3 span:nth-child(3) {
    top: 10px;
  }
  
  #nav-icon3 span:nth-child(4) {
    top: 20px;
    width: 50%;
  }
  
  #nav-icon3.open span:first-child {
    top: 18px;
    width: 0;
    left: 50%;
  }
  
  #nav-icon3.open span:nth-child(2) {
    transform: rotate(45deg);
  }
  
  #nav-icon3.open span:nth-child(3) {
    transform: rotate(-45deg);
  }
  
  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
  }